body {
  background-color: lightgreen;
}

button {
  font-size: 33px;
  width: 65px;
  min-width: 65px;
  height: 65px;
  min-height: 65px;
  margin: -3px;
  margin-left: -1px;
  margin-right: -1px;
  border: 0px;
}

.mainContainer {
  font-size: 0;
  margin: auto;
  background-color: black;
  width: 50%;
  height: 50%;
  padding: 1px;
  border: 1px solid white;
  min-width: 252px;
  max-width: 252px;
  min-height: 363px;
  max-height: 363px;
}

.displayScreen{
  border: 1px solid white;
  min-width: 252px;
  max-width: 252px;
  background-color: black;
  min-height: 65px;
  max-height: 65px;
}

.btnNumb {
  color: black;
  border: 1px solid black;
  background-color: #d8d9db;
}

.btnNumb:active {
  background-color: #bbbcbe;
}

.btnNumb:hover {
  background-color: #ebebeb;
}

.btnClear{
  min-width: 128px;
  max-width: 128px;
  min-height: 65px;
  max-height: 65px; 
}

.btnZero{
  min-width: 191px;
  max-width: 191px;
  min-height: 65px;
  max-height: 65px;
}

.btnFunc {
  color: white;
  border: 1px solid black;
  background-color: #df974c;
}

.btnFunc:active {
  background-color: #dd8d37;
}

.btnFunc:hover {
  background-color: #dfb07e;
}
