body {
  background-color: lightgreen;
}

.btn {
  font-size: 33px;
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
}

.mainContainer {
  font-size: 0;
  margin: auto;
  background-color: black;
  width: 50%;
  height: 50%;
  padding: 1px;
  min-width: 400px;
  max-width: 400px;
  min-height: 600px;
  max-height: 600px;
}

.displayScreen{
  font-size: 33px;
  border:1px solid black;
  color: white;
  text-align: right;
  min-width: 399px;
  max-width: 399px;
  background-color: black;
  min-height: 100px;
  max-height: 100px;
}

/* form .display{
  display: flex;
  justify-content: flex-end;
  margin: none;
} */

form .display input{
  margin: 3%;
  background-color: black;
  color: white;
  text-align: right;
  flex: 1;
  font-size: 30px;
}

.subDisp {
  font-size: 33px;
  min-height: 95px;
  max-height: 95px;
  min-width: 380px;
  max-width: 380px;
}

.btnNumb {
  color: black;
  border: 1px solid black;
  background-color: #d8d9db;
}

.btnNumb:hover {
  background-color: #ebebeb;
}

.btnNumb:active {
  background-color: #bbbcbe;
}

.btnClear{
  font-size: 33px;
  min-width: 200px;
  max-width: 200px;
  min-height: 100px;
  max-height: 100px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px; 
}

.btnZero{
  font-size: 33px;
  min-width: 300px;
  max-width: 300px;
  min-height: 100px;
  max-height: 100px;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.btnFunc {
  color: white;
  border: 1px solid black;
  background-color: #df974c;
}

.btnFunc:hover {
  background-color: #dfb07e;
}
.btnFunc:active {
  background-color: #dd8d37;
}
